services:
  migrate:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/dev/workflow-insight:${IMAGE_TAG}
    env_file:
      - .env
    command: npx prisma migrate deploy
    restart: "no"

  workflow-insight:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/dev/workflow-insight:${IMAGE_TAG}
    env_file:
      - .env
    depends_on:
      - migrate
    ports:
      - '8001:8000'
    restart: unless-stopped